In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/suggestion.csv', encoding='euc-kr')
df.head()

,Unnamed: 0,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [3]:
df.describe()

       Unnamed: 0          id        투표 수
count   21.000000   21.000000   21.000000
mean    10.000000  138.809524   13.619048
std      6.204837   91.720564   35.449226
min      0.000000    2.000000    0.000000
25%      5.000000   61.000000    2.000000
50%     10.000000  149.000000    5.000000
75%     15.000000  214.000000    9.000000
max     20.000000  279.000000  167.000000

In [4]:
#culumn 삭제 방법1
del df['Unnamed: 0']

In [5]:
#culumn 삭제 방법2
# df.drop(['제목'], inplace=True, axis=1)
# df.head()

In [6]:
df.head()

,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [7]:
#행삭제 방법
# df.drop([0], inplace=True, axis=0)
# df.head()

In [8]:
df.set_index('id', inplace=True)
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [9]:
df['제안 분야'].value_counts()

일반행정     11
보건복지      5
반부패청렴     2
사회통합      1
국민참여      1
환경        1
Name: 제안 분야, dtype: int64

In [10]:
df['제목'].head()

id
279                         초과근무 줄이기!
264                      암행국(어)사제도 신설
260    시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청
240                        청와대공무직공개채용
222      정부조직법 부처 개편 일부 개정안(추가 일부 변경)
Name: 제목, dtype: object

In [11]:
df['성별']=0
df['a']=1
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인,성별,a
id,,,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ,0,1
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류,0,1
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운,0,1
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작,0,1
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176,0,1

In [12]:
del df['a']

In [13]:
df.drop(['성별'], inplace=True, axis=1)

In [14]:
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [15]:
#loc/ iloc
#.loc[행, 이름, 칼럼 이름] : 명칭 기반 인덱싱
#.iloc[행 위치, 칼럼 위치]: 위치 기반 인덱싱
df.head(3)

                                 제목 제안 분야       제안 시작       제안 마감  투표 수  제안인
id
279                       초과근무 줄이기!  일반행정  2019.10.16  2020.01.13     2  ㅁㄴㅁ
264                    암행국(어)사제도 신설  사회통합  2019.09.07  2019.12.05     5   청류
260  시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청  일반행정  2019.09.04  2019.12.02    14   청운

In [16]:
#df.loc[278, '제목']
#df.loc[278]
df.loc[280:277, '제목']
df.head(3)

                                 제목 제안 분야       제안 시작       제안 마감  투표 수  제안인
id
279                       초과근무 줄이기!  일반행정  2019.10.16  2020.01.13     2  ㅁㄴㅁ
264                    암행국(어)사제도 신설  사회통합  2019.09.07  2019.12.05     5   청류
260  시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청  일반행정  2019.09.04  2019.12.02    14   청운

In [24]:
df.iloc[2, 0]
# df.iloc[-1]

'시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청'

In [18]:
df.iloc[2,0]
df.iloc[-1]

제목       공무원 전입시험의 투명성 확보방안
제안 분야                 반부패청렴
제안 시작            2018.08.01
제안 마감            2018.08.31
투표 수                      7
제안인                 음지가양지된다
Name: 2, dtype: object

In [26]:
df.loc[228] = np.nan
df.iloc[-1]

제목       NaN
제안 분야    NaN
제안 시작    NaN
제안 마감    NaN
투표 수     NaN
제안인      NaN
Name: 228, dtype: object

In [27]:
df.loc[227] = {'제목' : '개학', '제안 분야' : '기타', '제안 시작' : '2020.5.25.', '제안 마감' : '2020.5.30', '투표 수' : 5, '제안인' : None}
df.iloc[-1]

제목       NaN
제안 분야    NaN
제안 시작    NaN
제안 마감    NaN
투표 수     NaN
제안인      NaN
Name: 228, dtype: object

In [21]:
df.loc[227]

제목              개학
제안 분야           기타
제안 시작          NaN
제안 마감    2020.5.27
투표 수          2000
제안인             꿀벌
Name: 227, dtype: object

In [29]:
df.isna().sum()

제목       2
제안 분야    2
제안 시작    2
제안 마감    2
투표 수     2
제안인      1
dtype: int64

In [30]:
df[df['제안인'].isna()]

      제목 제안 분야 제안 시작 제안 마감 투표 수  제안인
id
228  NaN   NaN   NaN   NaN  NaN  NaN

In [32]:
df.loc[227:228]

      제목  제안 분야  제안 시작  제안 마감  투표 수  제안인
id
227   제목  제안 분야  제안 시작  제안 마감  투표 수  제안인
228  NaN    NaN    NaN    NaN   NaN  NaN

In [33]:
df['제안인'] = df['제안인'].fillna('홍길동')
df.loc[228:227]

Empty DataFrame
Columns: [제목, 제안 분야, 제안 시작, 제안 마감, 투표 수, 제안인]
Index: []

In [43]:
# df = df.dropna()
# df.loc[227:228]

In [44]:
df.drop([227], axis=0, inplace=True)
df.isna().sum()

제목       0
제안 분야    0
제안 시작    0
제안 마감    0
투표 수     0
제안인      0
dtype: int64

In [48]:
df[(df['제안 분야'] == '일반행정')]

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176
214,연가 기부제 도입,일반행정,2019.06.24,2019.09.21,7,탱크
149,사회복무요원 직무교육 내용 개선이 필요합니다,일반행정,2019.01.30,2019.04.29,4,국민위원활동
139,새해부터는 공무원들의 근무시간 특별히 점심시간을 잘 지켜주시는 제안을 합니다.,일반행정,2019.01.08,2019.04.07,6,걷자
75,"서울특별시청소년수련관 직원정년나이 ,기관장(대표)과 같게 조례변경이 되어야 합니다",일반행정,2018.10.14,2019.01.11,9,백희
49,공무원 조직경쟁력 강화 목적인 개방형직위 운용 체계를 휙기적으로 개선,일반행정,2018.09.28,2018.12.26,4,제안토론왕
32,종이 당직일지 이제는 안녕!,일반행정,2018.09.04,2018.12.02,167,홍길동
7,하계 반바지 허용 등 근무복장 자율화를 통한 생산적인 근무환경 조성,일반행정,2018.08.06,2018.09.05,5,통혁신