In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/suggestion.csv', encoding='euc-kr')
df.head()

,Unnamed: 0,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [3]:
df.describe()

       Unnamed: 0          id        투표 수
count   21.000000   21.000000   21.000000
mean    10.000000  138.809524   13.619048
std      6.204837   91.720564   35.449226
min      0.000000    2.000000    0.000000
25%      5.000000   61.000000    2.000000
50%     10.000000  149.000000    5.000000
75%     15.000000  214.000000    9.000000
max     20.000000  279.000000  167.000000

In [4]:
#culumn 삭제 방법1
del df['Unnamed: 0']

In [5]:
#culumn 삭제 방법2
# df.drop(['제목'], inplace=True, axis=1)
# df.head()

In [6]:
df.head()

,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [7]:
#행삭제 방법
# df.drop([0], inplace=True, axis=0)
# df.head()

In [8]:
df.set_index('id', inplace=True)
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [11]:
df['제안 분야'].value_counts()

일반행정     11
보건복지      5
반부패청렴     2
국민참여      1
환경        1
사회통합      1
Name: 제안 분야, dtype: int64

In [12]:
df['제목'].head()

id
279                         초과근무 줄이기!
264                      암행국(어)사제도 신설
260    시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청
240                        청와대공무직공개채용
222      정부조직법 부처 개편 일부 개정안(추가 일부 변경)
Name: 제목, dtype: object