In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/suggestion.csv', encoding='euc-kr')
df.head()

,Unnamed: 0,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [3]:
df.describe()

       Unnamed: 0          id        투표 수
count   21.000000   21.000000   21.000000
mean    10.000000  138.809524   13.619048
std      6.204837   91.720564   35.449226
min      0.000000    2.000000    0.000000
25%      5.000000   61.000000    2.000000
50%     10.000000  149.000000    5.000000
75%     15.000000  214.000000    9.000000
max     20.000000  279.000000  167.000000

In [4]:
#culumn 삭제 방법1
del df['Unnamed: 0']

In [5]:
#culumn 삭제 방법2
# df.drop(['제목'], inplace=True, axis=1)
# df.head()

In [6]:
df.head()

,id,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
0,279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
1,264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
2,260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
3,240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
4,222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [7]:
#행삭제 방법
# df.drop([0], inplace=True, axis=0)
# df.head()

In [8]:
df.set_index('id', inplace=True)
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [11]:
df['제안 분야'].value_counts()

일반행정     11
보건복지      5
반부패청렴     2
국민참여      1
환경        1
사회통합      1
Name: 제안 분야, dtype: int64

In [12]:
df['제목'].head()

id
279                         초과근무 줄이기!
264                      암행국(어)사제도 신설
260    시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청
240                        청와대공무직공개채용
222      정부조직법 부처 개편 일부 개정안(추가 일부 변경)
Name: 제목, dtype: object

In [13]:
df['성별']=0
df['a']=1
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인,성별,a
id,,,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ,0,1
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류,0,1
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운,0,1
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작,0,1
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176,0,1

In [14]:
del df['a']

In [15]:
df.drop(['성별'], inplace=True, axis=1)

In [16]:
df.head()

,제목,제안 분야,제안 시작,제안 마감,투표 수,제안인
id,,,,,,
279,초과근무 줄이기!,일반행정,2019.10.16,2020.01.13,2,ㅁㄴㅁ
264,암행국(어)사제도 신설,사회통합,2019.09.07,2019.12.05,5,청류
260,시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청,일반행정,2019.09.04,2019.12.02,14,청운
240,청와대공무직공개채용,일반행정,2019.08.28,2019.11.25,17,인생2모작
222,정부조직법 부처 개편 일부 개정안(추가 일부 변경),일반행정,2019.07.16,2019.10.13,2,jong176

In [24]:
#loc/ iloc
#.loc[행, 이름, 칼럼 이름] : 명칭 기반 인덱싱
#.iloc[행 위치, 칼럼 위치]: 위치 기반 인덱싱
df.head(3)

                                 제목 제안 분야       제안 시작       제안 마감  투표 수  제안인
id
279                       초과근무 줄이기!  일반행정  2019.10.16  2020.01.13     2  ㅁㄴㅁ
264                    암행국(어)사제도 신설  사회통합  2019.09.07  2019.12.05     5   청류
260  시간선택제공무원 근무시간 확대와 관련된 규정 개정 요청  일반행정  2019.09.04  2019.12.02    14   청운

In [25]:
#df.loc[278, '제목']
#df.loc[278]
df.loc[280:277, '제목']

id
279    초과근무 줄이기!
Name: 제목, dtype: object

In [20]:
df.loc[279]

제목        초과근무 줄이기!
제안 분야          일반행정
제안 시작    2019.10.16
제안 마감    2020.01.13
투표 수              2
제안인             ㅁㄴㅁ
Name: 279, dtype: object

In [26]:
df.iloc[2,0]
df.iloc[-1]

제목       공무원 전입시험의 투명성 확보방안
제안 분야                 반부패청렴
제안 시작            2018.08.01
제안 마감            2018.08.31
투표 수                      7
제안인                 음지가양지된다
Name: 2, dtype: object

In [31]:
df.loc[216] = np.nan
df.loc[216]

제목       NaN
제안 분야    NaN
제안 시작    NaN
제안 마감    NaN
투표 수     NaN
제안인      NaN
Name: 216, dtype: object

In [37]:
df.loc[227] = {'제목': '개학', '제안 분야': '기타', '제안 시간':'2020.5.26','제안 마감':'2020.5.27','투표 수':2000, '제안인':'꿀벌'}

In [42]:
df.loc[227]

제목          제목
제안 분야    제안 분야
제안 시작    제안 시간
제안 마감    제안 마감
투표 수      투표 수
제안인        제안인
Name: 227, dtype: object

In [43]:
df.isna().sum()

제목       0
제안 분야    0
제안 시작    0
제안 마감    0
투표 수     0
제안인      0
dtype: int64

In [ ]:
df[df[]]

In [ ]:
#fillna

In [44]:
df = df.dropna()
df.isna().sum()

제목       0
제안 분야    0
제안 시작    0
제안 마감    0
투표 수     0
제안인      0
dtype: int64