In [1]:
!python --version

Python 3.7.6

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("../data2/ThoraricSurgery.csv")
data.head()

,293,1,3.8,2.8,0,0.1,0.2,0.3,0.4,0.5,12,0.6,0.7,0.8,1.1,0.9,62,0.10
0,1,2,2.88,2.16,1,0,0,0,1,1,14,0,0,0,1,0,60,0
1,8,2,3.19,2.50,1,0,0,0,1,0,11,0,0,1,1,0,66,1
2,14,2,3.98,3.06,2,0,0,0,1,1,14,0,0,0,1,0,80,1
3,17,2,2.21,1.88,0,0,1,0,0,0,12,0,0,0,1,0,56,0
4,18,2,2.96,1.67,0,0,0,0,0,0,12,0,0,0,1,0,61,0

In [7]:
X = data.iloc[:,:17]
y = data.iloc[:,17]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

In [11]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((351, 17), (118, 17), (351,), (118,))

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model = Sequential()
model.add(Dense(32,input_dim= 17, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

In [32]:
model.compile(loss="binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

In [33]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
11/11 [==============================] - 0s 2ms/step - loss: 0.6049 - accuracy: 0.8319
Epoch 2/10
11/11 [==============================] - 0s 2ms/step - loss: 0.5765 - accuracy: 0.8034
Epoch 3/10
11/11 [==============================] - 0s 2ms/step - loss: 0.5093 - accuracy: 0.8462
Epoch 4/10
11/11 [==============================] - 0s 2ms/step - loss: 0.4501 - accuracy: 0.8291
Epoch 5/10
11/11 [==============================] - 0s 3ms/step - loss: 0.4552 - accuracy: 0.8490
Epoch 6/10
11/11 [==============================] - 0s 2ms/step - loss: 0.4727 - accuracy: 0.8433
Epoch 7/10
11/11 [==============================] - 0s 2ms/step - loss: 0.4506 - accuracy: 0.8462
Epoch 8/10
11/11 [==============================] - 0s 2ms/step - loss: 0.4876 - accuracy: 0.8319
Epoch 9/10
11/11 [==============================] - 0s 2ms/step - loss: 0.4517 - accuracy: 0.8462
Epoch 10/10
11/11 [==============================] - 0s 3ms/step - loss: 0.4597 - accuracy: 0.8376

In [ ]:
# model.evaluate(X_test, y_test, verbose=0)